@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-background {
  0% {
    background-position: 200% 0, 0 0;
  }
  100% {
    background-position: -100% 0, 0 0;
  }
}

@layer base {
  /* globals.css */
  .button-animation {
    @apply rounded-xl shadow focus:outline-none focus:ring focus:ring-amber-400 dark:focus:ring-sky-600 
    focus-visible:outline-none focus-visible:ring relative before:absolute before:inset-0 before:rounded-[inherit] 
    before:bg-[linear-gradient(45deg,transparent_25%,theme(colors.white/.5)_50%,transparent_75%,transparent_100%)] 
    dark:before:bg-[linear-gradient(45deg,transparent_25%,theme(colors.white)_50%,transparent_75%,transparent_100%)] 
    before:bg-[length:250%_250%,100%_100%] before:bg-no-repeat before:animate-slide transform duration-500 ease-in-out;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
